
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* color: #fff; */
}

body {
  background-color: #111;
  color: seashell
}

/* input {
  caret-color: #fff;
  border: 1px solid #fff;
} */

ul {
  display: inline-flex;
  list-style-type: none;
  
}

ul li {
  padding-right: 32px;
}

ul li a {
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  color: white;
}


ul li a:hover {
  border-bottom: 2px solid rgb(196, 196, 0);
}

.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover{
  box-shadow: 0px 0px 2px 2px rgba(226, 230, 0, 0.3);
  transform: translateY(-10px);
}

.fav-icon {
  color: #ffc107;
}